.img-section{
    display: flex;
    justify-content: center;
}
.section{
    margin-left: 25px;
    margin-right: 25px;
    background-color: snow;
}
div{
    margin-top: 15px;
}
body{
    background: linear-gradient(red 0%,yellow 100%);
    text-align: center;
}
img{
    width: 500px;
    height: 500px;
}